body {
  background: url(https://media.istockphoto.com/id/185071242/photo/seamless-fresh-snow-background.webp?b=1&s=170667a&w=0&k=20&c=h2cIteK_o5t0mqFvIW0ZNK2k2s6kDJxJbGqujj2gp9o=);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  background-position:50% 50%;
}

.site-brand-container {
    background: #161a30;
}

.site-meta {
   .brand {
    color: #F0ECE5;
   } 
}

.post-body {

 a:not(.btn){
    color: #337AB7;
    border-bottom: none;
}
}